<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vsts" value="https://eduardomserrano.pkgs.visualstudio.com/_packaging/MyNugetServer/nuget/v3/index.json" />
  </packageSources>
</configuration>
